:root{
    --cor1: #e63946;
    --cor2: #f1faee;
    --cor3: #a8dadc;
    --cor4: #457b9d;
    --cor5: #1d3557;
}

.roboto-mono-general {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

/* garantir box-sizing para evitar overflow por paddings/margins */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor3);
    font-family: "Roboto Mono", monospace;
    overflow: hidden;
}

nav{
    font-size: 10px;
    margin: 20px 30px 20px 30px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
    padding: 10px;
    height: 30px;
    background-color: #fff;
    color: #222;
}

div.container{
    display: flex;
    flex-direction: column;
    /* ajustar para compensar 25px de margin em cima e embaixo */
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
    background-color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 25px;
    position: relative;
}

.images {
    display: flex;
    transform: scaleX(-1);
    position: absolute;
    bottom: -59px;
    left: 0;
    z-index: 10;
    justify-content: flex-start;
}

div.content{
    margin: 20px 40px 20px 40px;
    flex: 1;
}

.content h1{
    font-size: 80px;
}

.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: calc(100% - 230px);
    background-color: var(--cor4);
    border-radius: 15px;
    left: 250px;
    bottom: -25px;
    position: relative;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: var(--cor5);
    color: var(--cor2);
    font-size: 14px;
    border-radius: 0 0 15px 15px;
}