:root{
    --cor1: #f1faee;
    --cor2: #e63946;
}

.roboto-mono-general {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor1);
    font-family: "Roboto Mono", monospace;
}

nav{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 100px 0px 100px;
    background-color: var(--cor2);
    color: var(--cor1);
}